#game-container {
    width: 800px; /* adjust as needed */
    height: 800px; /* adjust as needed */
    position: absolute;
    top: 0px; left: 0px;  
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap: 0.1px;
  }

  #main-canvas {
    width: 800px; /* adjust as needed */
    height: 400px; /* adjust as needed */
    position: absolute;
    top: 0px; left: 0px;  
    z-index: 100;
    pointer-events: none;
    border: 1px solid black;   
  }
  
  #transparent-layer {
    width: 800px; /* adjust as needed */
    height: 800px; /* adjust as needed */
    position: absolute;
    top: 0px; left: 0px;  
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    pointer-events: none;
    gap: 0.1px;
  }

  #obj-layer-1 {
    width: 800px; /* adjust as needed */
    height: 800px; /* adjust as needed */
    position: absolute;
    top: 0px; left: 0px;  
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    pointer-events: none;
    gap: 0.1px;
  }

  .tile {
    background-image: url("assets/pictures/tile.png");
    background-size: cover;
  }

  .poolbutton {
    background-image: url("assets/pictures/pool/fourlines.png");
    background-size: cover;
  }
  

  
  